<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .collapse-content {
      max-height: 600px;
      overflow-y: auto;
      display: block;
    }
  </style>
</head>
<body>
<title>Mesaje</title>
<div class="container">
  {% for message in messages %}
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo_{{ loop.index }}">
              {{ message['date']|safe }}
              <br>
              {{ message['subject']|safe }}
            </button>
          </h4>
        </div>
        <div id="demo_{{ loop.index }}" class="panel-collapse collapse">
            <div class="panel-body collapse-content">
                <p><b>Sender:</b> {{ message['sender']|safe }}<br>
                <b>Receiver:</b> {{ message['recipient']|safe }}</p>
                <button class="btn btn-warning backup-button" data-toggle="button" aria-pressed="false" autocomplete="off" data-message-id="{{ message['id'] }}">Backup</button>
            </div>
            <div class="panel-body collapse-content">
                <p>{{ message['content']|safe }}</p>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <button class="btn btn-danger" data-toggle="collapse" data-target="#demo" onclick="closeServer()">
    Alege alta optiune
  </button>
  <script>
    function closeServer() {
        fetch('/close-server', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error('Eroare în închiderea serverului', error);
            });
    }

    const backupButtons = document.querySelectorAll('.backup-button');

// Adăugați un eveniment de ascultare pentru fiecare buton
backupButtons.forEach(button => {
  button.addEventListener('click', () => {
    const messageId = button.getAttribute('data-message-id');

    // Trimiteți o solicitare către server cu ID-ul mesajului
    fetch('/backup-message', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ messageId })
    })
      .then(response => response.json())
      .then(data => {
        console.log('Solicitare de backup trimisă cu succes');
        console.log(data);
      })
      .catch(error => {
        console.error('Eroare în trimiterea solicitării de backup', error);
      });
  });
});
</script>
</div>

</body>
</html>
